/* =======================================================================
    Style References
======================================================================= */
@import (reference) "./styles/custom_mixins.less";
@import (reference) "./styles/custom_variables.less";
@import (reference) "./styles/animate.less";
@import (reference) "../../libs/bootstrap/less/bootstrap.less";

/* =======================================================================
    Base Elements
======================================================================= */
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
}
a, a:hover {
    cursor: pointer;
    text-decoration: none;
}
a, button {
    &:focus {
        outline:0 !important;
    }
}

/* ==========================================================================
    Manual Resets
========================================================================== */



/* ==========================================================================
    Layouts
========================================================================== */
.small-panel {
    .make-xs-column(12);
    .make-xs-column-offset(0);
    .make-sm-column(6.5);
    .make-sm-column-offset(2.75);
    .make-md-column(5);
    .make-md-column-offset(3.5);
    .make-lg-column(4.5);
    .make-lg-column-offset(3.75);
}
.medium-panel {
    .make-xs-column(12);
    .make-xs-column-offset(0);
    .make-sm-column(9);
    .make-sm-column-offset(1.5);
    .make-md-column(6);
    .make-md-column-offset(3);
}
.module-view {
    .container();
}


/* ==========================================================================
    Header
========================================================================== */



/* ==========================================================================
    Navigation
========================================================================== */
nav {
    .navbar {
        border-radius: 0;
        border:none;
        border-bottom: solid 1px #eee;
    }
    li.dropdown {
        padding: 15px 0;
        .dropdown-toggle {
            padding: 18px 0px 18px 10px;
        }
        .caret {
            margin-right: 10px;
        }
    }
}


/* ==========================================================================
    Footer
========================================================================== */



/* ==========================================================================
    Forms
========================================================================== */
.form-helper {
    font-size: 12px;
    color:red;
}


/* ==========================================================================
    Buttons
========================================================================== */



/* ==========================================================================
    Notifications
========================================================================== */
.system-notification {
    .container();
    .animated();
    text-align: center;
    &.ng-enter {
        .fadeIn();
    }
    &.ng-leave {
        .fadeOut();
    }
}

