<div class="users-auth-password-reset small-panel">

	<div class="reset-password-form">
		<h1>Reset your password</h1>
	    <form class="form" name="PasswordResetForm" ng-submit="resetPassword()" novalidate>

	    	<div class="form-group" ng-class="{'invalid' : PasswordResetForm.email.$invalid && PasswordResetForm.email.$dirty, 'valid' : PasswordResetForm.email.$valid && PasswordResetForm.email.$dirty}">
	    		<label for="email" class="inline">Email</label>
	    		<input type="email" name="email" id="email" class="form-control" placeholder="email@address.com" ng-model="user.email" ng-pattern="emailRegex" required auto-focus show-form-errors />
	    		<p class="form-helper" ng-if="PasswordResetForm.email.$error.pattern && !PasswordResetForm.email.$focused">Invalid Email Address</p>
	    		<p class="form-helper" ng-if="PasswordResetForm.email.$dirty && PasswordResetForm.email.$error.required && !PasswordResetForm.email.$focused">Email Address is required!</p>
	    	</div>

	    	<div class="form-group form-buttons">
	    		<button class="btn button button-secondary" type="submit" ng-disabled="PasswordResetForm.$invalid">Send me a new password</button>
	    	</div>

	    </form>
	</div>

</div>