<div class="users-auth-registration">
    <div class="signup-form small-form toggle-form">
        <h1>Create a new account</h1>
        <form class="form" name="signupForm" ng-submit="signup()" novalidate>

            <div class="form-group" ng-class="{'invalid' : signupForm.email.$invalid && signupForm.email.$dirty, 'valid' : signupForm.email.$valid && signupForm.email.$dirty}">
                <label for="email" class="inline">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="email@address.com" ng-model="user.email" ng-pattern="emailRegex" required auto-focus show-form-errors />
                <p class="form-helper" ng-if="signupForm.email.$error.pattern && !signupForm.email.$focused">Invalid Email Address</p>
                <p class="form-helper" ng-if="signupForm.email.$dirty && signupForm.email.$error.required && !signupForm.email.$focused">Email Address is required!</p>
            </div>

            <div class="form-group" ng-class="{'invalid' : signupForm.password.$invalid && signupForm.password.$dirty, 'valid' : signupForm.password.$valid && signupForm.password.$dirty}">
                <label for="password" class="inline">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="password" ng-model="user.password" ng-minlength=8 required show-form-errors />
                <p class="form-helper" ng-if="signupForm.password.$dirty && signupForm.password.$error.required && !signupForm.password.$focused">Password is required!</p>
                <p class="form-helper" ng-if="signupForm.password.$dirty && signupForm.password.$error.minlength && !signupForm.password.$focused">Password must contain at least 8 characters.</p>
            </div>

            <div class="form-group form-buttons">
                <button class="btn button button-primary" type="submit" ng-disabled="signupForm.$invalid">Sign Up</button>
            </div>

        </form>
    </div>
</div>